<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipboardManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ClipboardManager.Properties.Settings>
            <setting name="textBox1_1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox1_2" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox2_1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox2_2" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox3_1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox3_2" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox4_1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox4_2" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBox4" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox5_1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox5_2" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBox5" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox6_1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox6_2" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBox6" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox7_1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox7_2" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBox7" serializeAs="String">
                <value />
            </setting>
        </ClipboardManager.Properties.Settings>
    </userSettings>
</configuration>